body {
    background-color: bisque;
}
section {
    border: solid 4px bisque;
    border-radius: 30px;
    margin: 5px;
}
.imagensfodas{
    width: 45%;
    border-radius: 30px;
}
footer{
    background-color: rgb(255, 161, 73)
}

#equipe{
    display: flex;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(255, 161, 73);
    text-align:
     center;
}
    
.logosite {
    width: 20%;
    display: block;
}