body {
    background-color: bisque;
}
section {
    border: solid 4px bisque;
    border-radius: 30px;
    margin: 5px;
}
img{
    width: 45%;
    border-radius: 30px;
}
footer{
    background-color: blue
}